$mainBackground: #111827;
$lightAccent: #414868;
$lighterAccent: #9aa5ce;
$lightestAccent: #a9b1d6;
$darkAccent: #24283b;
$darkestAccent: #1a1b26;

* {
  box-sizing: border-box;
}

body {
  background-color: $mainBackground;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 20% auto;
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 10px;
  max-width: 80vw;
  margin: 0 auto;
  grid-template-areas:
    'icon header menu'
    'content content content'
    'content content content'
    'content content content'
    'content content content'
    'content content content';
}

.icon {
  max-width: 6vw;
  max-height: 6vh;
  grid-area: icon;
  align-self: center;
}

.content {
  grid-area: content;
}

.title {
  grid-area: header;
}

.menu {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1em;
  list-style-type: none;

  li:hover {
    cursor: pointer;
  }
}

.active-tab {
  color: $lighterAccent;
}

.card {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  max-width: 80vw;
  margin: 0 auto 1rem;
  grid-template-areas:
    'image title'
    'image description';

  background: $lightAccent;
  border: 1px solid $lightestAccent;
}

.card-title {
  grid-area: title;
  justify-self: center;
}

.card-image {
  grid-area: image;
  max-width: 120px;
  max-height: 120px;
  align-self: center;
  justify-self: center;
}

.card-content {
  grid-area: description;
}
